PORT =

DATABASE_URL=
# DIRECT_URL="postgresql://postgres.<project-ref>:<password>@aws-0-<region>.pooler.supabase.com:5432/postgres"

SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=

AI_API_KEY=
BE_SERVICE_URL=

DEFAULT_CONF=
MAX_VIDEO_MB=
